/* @media (max-width: 560px) {
  .yBlog {
    border: none;
  }
  .yBlog h1 {
    width: 100%;
    margin: 0px;
    text-align: center;
  }
  .profilBox h1 {
    width: 100%;
    text-align: center;
  }
  table {
    margin: 0 auto;
  }
  .lButton {
    margin: 10px 120px;
  }
} */

.hypnotic {
  width: 56px;
  height: 48.496px;
  display: grid;
  background: linear-gradient(to bottom left, #0000 calc(50% - 1.1px), #3eb489 0 calc(50% + 1.1px), #0000 0) right/50% 100%,
    linear-gradient(to bottom right, #0000 calc(50% - 1.1px), #3eb489 0 calc(50% + 1.1px), #0000 0) left / 50% 100%,
    linear-gradient(#3eb489 0 0) bottom/100% 2.2px;
  background-repeat: no-repeat;
  transform-origin: 50% 66%;
  animation: hypnotic-k788tl 4s infinite linear;
}

.hypnotic::before,
.hypnotic::after {
  content: "";
  grid-area: 1/1;
  background: inherit;
  transform-origin: inherit;
  animation: inherit;
}

.hypnotic::after {
  animation-duration: 2s;
}

@keyframes hypnotic-k788tl {
  100% {
    transform: rotate(1turn);
  }
}

.emailBox,
.nameBox {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 35px auto;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 12px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.center {
  text-align: center;
}

@media (max-width: 680px) {
  .nameBox,
  .emailBox {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .uName,
  .uIn,
  .uBtn {
    flex: 1 1;
  }
}
