@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,400;1,500;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.main {
  background-image: url("../../Assets/login-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.pInsideForm {
  font-family: "Poppins", sans-serif;
}

.pOutsideForm {
  font-family: "Poppins", sans-serif;
}
